<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-3.2.xsd
       http://www.springframework.org/schema/data/mongo
       http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd">
    
	<context:annotation-config />
   
 	<context:component-scan base-package="com.prestafacturaService.mongo" />
  
	<!-- MongoFactoryBean instance -->
 	<bean id="mongo" class="org.springframework.data.mongodb.core.MongoFactoryBean">
  		<property name="host" value="localhost"/>
  		<property name="port" value="27017"/>
 	</bean>
  	 
  	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
  		<constructor-arg name="mongo" ref="mongo" />
  		<constructor-arg name="databaseName" value="prestafactura" />
  	</bean>
	
	<mongo:repositories base-package="com.prestafacturaService.mongo.repositories" factory-class="com.prestafacturaService.mongo.repositories.MongoRepoFactory">
 	</mongo:repositories>
	
	<!-- Repositorio de metodos propios -->
	<bean id="usurioRepositoryImpl" class="com.prestafacturaService.mongo.repositories.propios.UsuarioRepositoryImpl"></bean>
	<bean id="rolRepositoryImpl" class="com.prestafacturaService.mongo.repositories.propios.RolRepositoryImpl"></bean>
	
 	<!-- Service -->
 	<bean id="usuarioManager" class="com.prestafacturaService.mongo.manager.UsuarioManager"></bean>
	<bean id="rolManager" class="com.prestafacturaService.mongo.manager.RolManager"></bean>
	<bean id="permisoManager" class="com.prestafacturaService.mongo.manager.PermisoManager"></bean>
 	
 	<bean class="com.prestafacturaService.mongo.util.CascadingMongoEventListener"/>
 	
 	<!-- Actions -->
 	<bean id="LoginAction" class="com.prestafacturaService.vista.action.login.LoginAction">
 	</bean>
</beans>