<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-3.2.xsd
       http://www.springframework.org/schema/data/mongo
       http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd">
    
	<context:annotation-config />
   
 	<context:component-scan base-package="com.prestafacturaService.mongo" />
  
	<!-- MongoFactoryBean instance -->
 	<bean id="mongo" class="org.springframework.data.mongodb.core.MongoFactoryBean">
  		<property name="host" value="localhost"/>
  		<property name="port" value="27017"/>
 	</bean>
  	 
  	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
  		<constructor-arg name="mongo" ref="mongo" />
  		<constructor-arg name="databaseName" value="prestafactura" />
  	</bean>
	
	<mongo:repositories base-package="com.prestafacturaService.mongo.repositories" factory-class="com.prestafacturaService.mongo.repositories.MongoRepoFactory">
 	</mongo:repositories>
	
	<!-- Repositorio de metodos propios -->
	<bean id="usurioRepositoryImpl" class="com.prestafacturaService.mongo.repositories.propios.UsuarioRepositoryImpl"></bean>
	<bean id="rolRepositoryImpl" class="com.prestafacturaService.mongo.repositories.propios.RolRepositoryImpl"></bean>
	<bean id="permisoRepositoryImpl" class="com.prestafacturaService.mongo.repositories.propios.PermisoRepositoryImpl"></bean>
	<bean id="recursoRepositoryImpl" class="com.prestafacturaService.mongo.repositories.propios.RecursoRepositoryImpl"></bean>
	
	
 	<!-- Service -->
 	<bean id="usuarioManager" class="com.prestafacturaService.mongo.manager.UsuarioManager"></bean>
	<bean id="rolManager" class="com.prestafacturaService.mongo.manager.RolManager"></bean>
	<bean id="permisoManager" class="com.prestafacturaService.mongo.manager.PermisoManager"></bean>
	<bean id="recursoManager" class="com.prestafacturaService.mongo.manager.RecursoManager"></bean>
 	
 	<bean class="com.prestafacturaService.mongo.util.CascadingMongoEventListener"/>
 	
 	<!-- Actions -->
 		<!-- login-->
 	<bean id="LoginAction" class="com.prestafacturaService.vista.action.login.LoginAction"></bean>
 	<bean id="LogoutAction" class="com.prestafacturaService.vista.action.login.LogoutAction"></bean>
 		<!-- rol-->
 	<bean id="AccesoRolAction" class="com.prestafacturaService.vista.action.rol.AccesoRolAction"></bean>
 	<bean id="AltaRolAction" class="com.prestafacturaService.vista.action.rol.AltaRolAction"></bean>
 	<bean id="BusquedaRolAction" class="com.prestafacturaService.vista.action.rol.BusquedaRolAction"></bean>
 	<bean id="ModificacionRolAction" class="com.prestafacturaService.vista.action.rol.ModificacionRolAction"></bean>
 	<bean id="TratarRolAction" class="com.prestafacturaService.vista.action.rol.TratarRolAction"></bean>
 		<!-- usuario-->
	<bean id="AccesoUsuarioAction" class="com.prestafacturaService.vista.action.usuario.AccesoUsuarioAction"></bean>
 	<bean id="AltaUsuarioAction" class="com.prestafacturaService.vista.action.usuario.AltaUsuarioAction"></bean>
 	<bean id="BusquedaUsuarioAction" class="com.prestafacturaService.vista.action.usuario.BusquedaUsuarioAction"></bean>
 	<bean id="ModificacionUsuariosAction" class="com.prestafacturaService.vista.action.usuario.ModificacionUsuariosAction"></bean>
 	<bean id="TratarUsuariosAction" class="com.prestafacturaService.vista.action.usuario.TratarUsuariosAction"></bean>
 	
</beans>